In [2]:
from matplotlib import pyplot as plt
from matplotlib.dates import MonthLocator, num2date
from matplotlib.ticker import FuncFormatter
from prophet import Prophet
from prophet.diagnostics import cross_validation, performance_metrics
from prophet.plot import add_changepoints_to_plot

import pandas as pd
import numpy as np
import datetime as dt
from collections import defaultdict
import time
import datetime as dt
from pytz import timezone
tz = timezone('EST')
from tqdm import tqdm

from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

import seaborn as sns
%config InlineBackend.figure_format = 'retina'
%matplotlib inline
from matplotlib import pyplot as plt
from matplotlib import style
sns.set()

In [3]:
solar_data = pd.read_csv(r"C:\Users\Rohan\Desktop\Smart Grids\Solar Forecasting\40.78122_-73.966514_Solcast_PT5M.csv")

In [4]:
solar_data

                           ds  y
0        2009-12-31T00:50:00Z  0
1        2009-12-31T00:55:00Z  0
2        2009-12-31T01:00:00Z  0
3        2009-12-31T01:05:00Z  0
4        2009-12-31T01:10:00Z  0
...                       ... ..
1048570  2019-12-19T21:40:00Z  0
1048571  2019-12-19T21:45:00Z  0
1048572  2019-12-19T21:50:00Z  0
1048573  2019-12-19T21:55:00Z  0
1048574  2019-12-19T22:00:00Z  0

[1048575 rows x 2 columns]

In [31]:
model = Prophet(
        changepoint_prior_scale=0.5, 
        seasonality_mode='multiplicative', 
        interval_width=0.95, 
    )
model.add_country_holidays(country_name='US')

In [32]:
model.fit(solar_data)

In [34]:
import json
from prophet.serialize import model_to_json, model_from_json

with open('nyc_model.json', 'w') as fout:
    json.dump(model_to_json(model), fout)  # Save model

#with open('serialized_model.json', 'r') as fin:
    #m = model_from_json(json.load(fin))  # Load model